.al-team-person {
    height: 100vh !important;
    background-size: cover !important;
    background-position: center !important;
    width: 50% !important;
    position: relative !important;
}

.al-team-person-content {
    height: 100% !important;
    width: 50% !important;
    position: absolute !important;
    overflow-y: auto !important;
    bottom:0 !important;
    background-color: rgba($color: #000000, $alpha: 0.5) !important;
    color: #fff !important;
    padding: 1.5rem !important;
    text-align: justify;


    h3 {
        font-size: 2em;
        font-weight: 500;
    }

    p {
        text-indent: 2rem;
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 1em;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .al-team-person-content-linkwrap {
        text-align: right;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-shadow: 0 0 10px #fff;
        }
    }

}

.al-team-person:nth-child(odd) .al-team-person-content {
    right: 0 !important;
}

@media (max-width: 768px) {
    .al-team-person {
        width: 100% !important;
    }

    .al-team-person-content {
        height: 50% !important;
        width: 100% !important;
        bottom:0 !important;
        position: absolute !important;
        overflow-y: auto !important;
    }
}

.al-team-card {
    font-size: 0.7em;
    h5 {
        font-size: 1.5em;
        color: rgba(13,77,121,1);
    }


    .al-service-page-link {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0 0 10px rgba($color: #333, $alpha: 0.75);
        transition: 0.3s;

        h5 {
            color: rgba(42,172,64,1);
        }
    }

    .al-team-card-img {
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
}

.al-team-page-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}
